<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        *{font-family:monospace;font-size: calc(1rem + 5px);}
        h1{font-size: 50px;}
        th,td{padding:1rem 2rem}
        body{height: 100vh;display: flex;flex-direction: column;justify-content: center;align-items: center;}
    </style>
    <h1>🙌 List Of Books 🙌</h1>

{{form_start(f)}}
{{form_label(f.ref)}}
{{form_widget(f.ref)}}
{{form_end(f)}}
  

        <table border="1">
            <tr>
                <th>Ref</th>
                <th>category</th>
                <th>category</th>
                <th>published</th>
                <th>publication date</th>
                <th>author</th>
                <th colspan="3">Action</th>
            </tr>
            {% for i in book %}
            <tr>
                <td>{{i.ref}}</td>
                <td>{{i.title}}</td>
                <td>{{i.category}}</td>
                <td>{{i.published}}</td>
                <td>{{i.publicationdate|date('F j, Y')}}</td>
                <td>{{i.author.username}}</td>
                <td><a href="{{path('editbook',{'id':i.ref})}}">edit</a></td>
                <td><a href="{{path('deletebook',{'id':i.ref})}}">delete</a></td>
                <td><a href="{{ path('showbyidauthor', {'ref': i.ref}) }}">show</a></td>
            </tr>
            {% endfor %}
        </table> 
        <p style="text-align:center">Number of Published Books: {{ publishedCount }}</p>
        <p style="text-align:center">Number of Unpublished Books: {{ unpublishedCount }}</p>
        <p style="text-align:center"> Total Number Of Science Fiction Books: {{nbr}}</p>
        
        
        <button><a href="{{ path('byauthor') }}">order by author</a></button>
        <button><a href="{{ path('listbookb42023') }}">show before 2023 more than 35</a></button>
        
    

        <button><a href="{{ path('updateWilliamShakespeareBooks') }}"> reset category</a></button>
        <button><a href="{{ path('addformbook') }}"> Add Book</a></button>
        



        
            
        


</body>
</html>